In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
df = pd.read_csv("homeprices.csv")
pd

In [2]:
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600   68000
4  4000  725000